/* * {
  border: 1px solid gray;
} */


body {
  background: var(--blue);
  color: var(--white);
  /* min-height: 100%; */
  margin: 0 2vw;
  padding: 0;
  cursor: default;
}

h1 {
  font-size: 4rem;
  text-shadow: 0px 3px 6px var(--yellow);
}

h2 {
  font-size: 2.5rem;
  font-weight: 100;
}

h3 {
  font-size: 1.6rem;
  padding-bottom: 30px;
}

h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--black);
}

h5 {
  font-size: 1.2rem;
  margin: 0;
}

h6 {
  font-size: 1.1rem;
}

h1,
h2 {
  font-family: "Orbitron", sans-serif;
}

a,
h3,
h4,
h5,
h6,
p {
  font-family: "Ubuntu Condensed", sans-serif;
}

html {
  --black: #000;
  --blue: #193549;
  --white: #fff;
  --yellow: #ffc600;
}

footer {
  color: white;
  display: grid;
  left: 0;
  padding: 0.7rem;
  place-items: center center;
  position: absolute;
  right: 0;
  margin-top: 6vw;
}

.about {
  margin: 8px 6vw;
  margin-bottom: 25vw;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-gap: 5rem;
}

.about-me-text {
  font-size: 1.2rem;
}

.about-me-pic {
  align-items: center;
  display: grid;
  justify-content: center;
}

.emoji {
  font-family: android emoji, apple color emoji, emojione mozilla, emojisymbols, noto color emoji, segoe ui emoji, segoe ui symbol, twemoji mozilla;
}

.home {
  margin-bottom: 25vw;
}

.home-hello {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  display: grid;
  justify-items: center;
  margin-bottom: 65px;
  text-align: center;
  user-select: none;
}

header {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  grid-template-columns: 67px 1fr;
}

.header-nav ul {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, 1fr);
  justify-content: end;
  justify-items: center;
  list-style: none;
  margin: 0;
  padding 0;
}

.header-nav a {
  display: block;
  font-size: 1.4rem;
  padding: 5px;
  text-align: center;
}

.header-nav a:hover {
  text-decoration: underline;
}

.home-social-links {
  align-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 78px);
  justify-content: center;
  text-align: center;
}

/* !Look START */
.projects {
  margin: 8px 6vw;
  margin-bottom: 6vw;
}


.project-box {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  background: var(--white);
  color: var(--black);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 150px 1fr;
  /* height: 100%; */
  min-height: 200px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
.project-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.project-data {
  padding: 0.3rem;
}

.project-label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 100%;
}

.project-links {
  padding: 0.4rem;
}

.project-links a {
  color: var(--black);
}

.project-thumbnail {
  margin: auto;
  max-height: 125px;
  max-width: 125px;
  padding: 0.7rem;
}

.project-type {
  padding: 0.2rem;
  background: var(--yellow);
  color: var(--white);
  width: 3.1rem;
  height: 1.6rem;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path */
  clip-path: polygon(0% 0%, 43px 0%, 100% 100%, 0% 100%);
  border-radius: 0 10px;
}


.project-year {
  background: var(--yellow);
  width: 3.1rem;
  text-align: right;
  height: 1.6rem;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path */
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12px 100%);
  padding: 0.2rem;
}
/* !Look END */

a {
  color: var(--white);
  transition: 0.5s;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  color: var(--yellow);
  transition: 0.4s;
}

/* startCursor */
.txt-rotate > .wrap {
  animation: caret 800ms steps(1) infinite;
  border-right: 0.09rem solid var(--white);
  padding-right: 2px;
}
/* endCursor */

#about-me-pic {
  border-radius: 10px;
  width: 75vw;
  max-width: 19rem;
}

#header-logo {
  width: 4rem;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
/* endCursor */

@media (max-width: 1000px) {
  .about-me {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
  .about {
    margin: 8px 0;
  }
}