/* * {
  border: 1px solid gray;
} */

a {
  color: inherit;
  transition: 0.5s;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  color: var(--yellow);
  transition: 0.4s;
}

body {
  background-color: #193549;
  background-image: url(/images/background-600x600.png);
  color: var(--white);
  cursor: default;
  margin: 0;
  padding: 0;
}

footer {
  background: var(--blue);
  display: grid;
  margin: 0;
  padding-top: 1vw;
  place-items: center center;
}

/* Hello I'm Nick */
h1 {
  font-size: calc(1.5rem + 3.5vw);
  text-shadow: 0px 3px 6px var(--yellow);
}

h1,
h2 {
  font-family: "Orbitron", sans-serif;
}

/* Header Characteristics Carousel */
h2 {
  font-size: calc(1.3rem + 0.5vw);
  font-weight: 100;
  margin-bottom: 3rem;
}

/* Nav */
h3 a {
  border-bottom: 0.3rem solid var(--yellow);
  padding-bottom: 0.4rem;
}

/* Section Labels */
h3 {
  font-size: calc(1.3rem + 0.4vw);
  margin: 0;
  padding-bottom: 1.8rem;
}

/* Project Name */
h4 {
  color: var(--black);
  font-size: calc(1rem + 0.3vw);
  text-decoration: underline;
  text-transform: uppercase;
}

/* Project Year */
h5 {
  font-size: 1.2rem;
  margin: 0;
}

/* Footer */
h6 {
  font-size: calc(1.1rem + 0.7vw);
  margin: 1rem;
}

header {
  align-items: center;
  background: var(--blue);
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  grid-template-columns: 67px 1fr;
  padding: 0 4vw;
}

hr {
  background-image: linear-gradient(
    to right,
    rgba(25, 53, 73, 51),
    rgba(255, 255, 255, 0.75),
    rgba(25, 53, 73, 51)
  );
  border: 0;
  height: 1px;
  margin: 1vw 0;
}

html {
  --black: #000;
  --blue: #193549;
  --white: #fff;
  --yellow: #ffc600;
  font-family: "Ubuntu Condensed", sans-serif;
}

main {
  margin: 2vw;
}

p,
ul {
  font-size: calc(1rem + 0.2vw);
}

.about {
  margin: 9vw auto;
  max-width: calc(20.5rem + 65vw);
}

.about,
.projects {
  background: var(--blue);
  border-radius: 50px;
  padding: 2.5vw;
}

.about-me {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 3fr 1fr;
}

.about-me-pic {
  align-items: center;
  display: grid;
  justify-content: center;
}

.emoji {
  font-family: android emoji, apple color emoji, emojione mozilla, emojisymbols,
    noto color emoji, segoe ui emoji, segoe ui symbol, twemoji mozilla;
}

.footer-social {
  margin: 1rem 2vw;
}

.header-nav a {
  display: block;
  font-size: 1.4rem;
  padding: 0.3rem;
  text-align: center;
}

.header-nav a:hover {
  border-bottom: 0.3rem solid var(--yellow);
  text-decoration: none;
}

.header-nav ul {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 1fr);
  justify-content: end;
  list-style: none;
  min-height: 3rem;
}

.home {
  margin: 5vw auto 19vw;
  max-width: calc(15.5rem + 50vw);
  padding: 0;
}

.home-hello {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  display: grid;
  justify-items: center;
  margin-bottom: 3vw;
  text-align: center;
  user-select: none;
}

.home-social {
  align-items: center;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, 78px);
  justify-content: center;
  text-align: center;
}

.no-hover {
  pointer-events: none;
}

.project-box {
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(255, 198, 0, 0.7);
  color: var(--black);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 140px 1fr;
  min-height: 200px;
  position: relative;
  top: 0;
  transition: all 0.25s;
}

.project-box:hover {
  box-shadow: 0 12px 14px rgba(255, 198, 0, 0.4);
  top: -10px;
}

.project-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(392px, 1fr));
}

.project-data {
  padding: 0.5vw;
}

.project-label {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

.project-links {
  padding: 0.4rem;
}

.project-thumbnail {
  margin: auto;
  max-height: 120px;
  max-width: 120px;
  padding: 0.5rem;
}

.project-type {
  background: var(--yellow);
  border-radius: 0 10px;
  clip-path: polygon(0% 0%, 43px 0%, 100% 100%, 0% 100%);
  color: var(--white);
  height: 1.6rem;
  padding: 0.2rem;
  width: 3.1rem;
}

.project-year {
  background: var(--yellow);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12px 100%);
  height: 1.6rem;
  padding: 0.2rem;
  text-align: right;
  width: 3.1rem;
}

.projects {
  margin: 9vw auto;
  max-width: calc(20.5rem + 65vw);
}

.transparent {
  opacity: 0;
}

#about {
  position: relative;
  top: 7rem;
}

#about-me-pic {
  border-radius: 15%;
  margin: auto;
  max-width: 100%;
  transition: all 0.25s ease-out;
}

#about-me-pic:hover {
  border-radius: 50%;
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

#back-to-top-btn {
  background: var(--blue);
  border-radius: 15px 0 0 15px;
  border: none;
  bottom: 25px;
  color: var(--white);
  cursor: pointer;
  display: none;
  height: 50px;
  outline: none;
  position: fixed;
  right: 0;
  transition-duration: 300ms;
  width: 50px;
}

#back-to-top-btn:hover {
  background: var(--white);
  color: var(--yellow);
}

#header-logo {
  width: 4rem;
}

#projects {
  position: relative;
  top: 7rem;
}

/* startCursor */
.txt-rotate > .wrap {
  animation: caret 800ms steps(1) infinite;
  border-right: 0.1rem solid var(--white);
  padding-right: 2px;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
/* endCursor */

@media screen and (max-width: 600px) {
  .display-none {
    display: none;
  }
  .home-social {
    grid-template-columns: repeat(2, 78px);
  }
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: calc(1.5rem + 5vw);
  }
  .about,
  .projects {
    border-radius: 25px;
    margin: 8rem auto;
    padding: 1.4rem 2.5vw;
  }
  .project-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .about-me {
    grid-gap: 3rem;
    grid-template-columns: 1fr;
  }
  #about-me-pic {
    max-width: 70%;
  }
}

@media screen and (min-width: 1900px) {
  .project-container {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}
